include mixins/mixins
doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title Mongo4js
        meta(
            content=''
            name='description'
        )
        link(
            href='favicon.ico'
            rel='shortcut icon'
        )
        link(
            href='styles/main.css'
            rel='stylesheet'
        )
    body
        .row
            .col-md-12
                code db

        script(src='js/model.js')
        script(src='js/index.js')